<div class="container">
  <h1 class = page-title> Exercises <i class="fas fa-running"></i> </h1>

  <div class="exercise-header">
    <p>Exercise Name</p>
    <p>Rounds</p>
    <p>Reps</p>
    <p>Weight</p>
    <p>Rest Time</p>
  </div>
  <% @exercises.each do |exercise| %>
    <div class="exercise-container">
      <div class="exercice-row">
        <h3><%= exercise.name.capitalize! %></h3>
      </div>
      <div class="exercice-row">
        <h3><%= exercise.rounds %></h3>
      </div>
      <div class="exercice-row">
        <h3><%= exercise.reps %></h3>
      </div>
      <div class="exercice-row">
        <h3><%= exercise.weight %>kg</h3>
      </div>
      <div class="exercice-row">
        <h3><%= exercise.rest_time %>'</h3>
      </div>
    </div>
  <% end %>

  <div class="button-exercises-container">
    <%= link_to program_trainings_path(@program), class: "btn-main" do %>
      <p>Back to all sessions</p>
    <% end %>
  </div>
</div>

<div></div>
<div class="white-background">
  <div class="container">

    <div class="category-padding">
      <div class="category-content category-content-picture-right">
        <div class="row">

          <div class="col-12 col-xl-6">
            <%= image_tag "exercise_banner_1.jpg" %>
          </div>

          <div class="col-12 col-xl-6">
            <%= image_tag "exercise_banner_2.jpg" %>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
