<div class="banner-main">
  <div class="container">
    <h1>Sessions#show</h1>
    <p>Exercises Details</p>
  </div>
</div>

<%# raise %>

<div class="container">
  <% @exercises.each do |exercise| %>
    <div class="exercise-container">
      <div class="exercise-arrow">
        <i class="fas fa-arrow-right" style="font-size: 2.5em;"></i>
      </div>
      <div class="exercice-row">
        <i class="fas fa-meteor"></i>
        <p>Exercise Name</p>
        <%= exercise.name %>
      </div>
      <div class="exercice-row">
        <i class="fas fa-plus"></i>
        <p>Rounds</p>
        <%= exercise.rounds %>
      </div>
      <div class="exercice-row">
        <i class="fas fa-redo-alt"></i>
        <p>Reps</p>
        <%= exercise.reps %>
      </div>
      <div class="exercice-row">
        <i class="fas fa-balance-scale"></i>
        <p>Weight</p>
        <%= exercise.weight %>
      </div>
      <div class="exercice-row">
        <i class="far fa-hourglass"></i>
        <p>Rest Time</p>
        <%= exercise.rest_time %>
      </div>
    </div>
  <% end %>

  <div class="button-exercises-container">
    <button class="btn-main">  <%= link_to "Back to session's list", program_trainings_path(@program) %></button>
  </div>
</div>
