<div class="banner-main">
  <div class="container">
    <h1>exercises of the session</h1>
  </div>
</div>

<%# raise %>

<div class="container">
  <% @exercises.each do |exercise| %>
    <table class="exercise-table">
      <tr>
        <th>Exercise</th>
        <th>Rounds</th>
        <th>Reps</th>
        <th>Weight</th>
        <th>Rest Time</th>
      </tr>
      <tr>
        <td><%= exercise.name %></td>
        <td><%= exercise.rounds %></td>
        <td><%= exercise.reps %></td>
        <td><%= exercise.weight %></td>
        <td><%= exercise.rest_time %></td>
      </tr>
    </table>
  <% end  %>

  <div class="button-exercises-container">
    <button class="btn-main">  <%= link_to "Back to session's list", program_sessions_path(@session) %></button>
  </div>
</div>

<%# @sessions.each do |session| %>
    <%#= session.start_time %>
      <%# session.exercises.each do |exercise| %>
        <%#= exercise.name %>
        <%#= exercise.rounds %>
        <%#= exercise.reps %>
        <%#= exercise.weight %>
        <%#= exercise.rest_time %>
    <%# end %>
