<!-- Banner Main -->
<div class="banner-main">
  <div class="container">
    <h1><span class="gray-text"><%= icon('fas', 'address-book') %> </span>Athletes</h1>
    <p>Manage your <%= @contracts.count %> athlete<%= @contracts.count == 1 ? "" : "s" %>.</p>
  </div>
</div>

<!-- List of all contracts -->
<div class="container">

  <div class="category-padding">
    <% @contracts.each do |contract| %>
        <%= link_to contract_path(contract) do %>
          <div class="card-contract">
            <div class="card-contract-info">
              <% if contract.athlete.profile_photo %>
                <%= cl_image_tag contract.athlete.profile_photo %>
              <% else %>
                <%= cl_image_tag("qp5xhltcjnrncmz1kryw") %>
              <% end %>
              <p><%= contract.athlete.full_name %></p>
            </div>
            <div class="card-contract-btn">
              <p><%= icon('fas', 'chevron-right') %></p>
            </div>
          </div>
        <% end %>
    <% end %>
  </div>

</div>


<!-- Create a new contract -->
<div class="white-background">
  <div class="container">

    <div class="category-padding">
      <div class="category-content category-content-picture-right">
        <div class="row">

          <div class="col-12 col-xl-6">
            <%= image_tag "banner_content_2.jpg" %>
          </div>

          <div class="col-12 col-xl-6 category-content-text">
            <h3>Getting Started</h3>
            <p>Need to add a new contract? Congratulations!</p>
            <%= link_to new_contract_path, class: "btn-main" do %>
              <p>NEW ATHLETE</p>
            <% end %>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>
