<!-- Banner Main -->
<div class="banner-main">
  <div class="container">
    <h1>Athletes</h1>
    <p>Manage your <%= @contracts.count %> contract(s).</p>
  </div>
</div>

<div class="container">

  <!-- List of all contracts -->
  <% @contracts.each do |contract| %>
    <div>
      <%= link_to contract_path(contract) do %>
        <div class="card-contract">
          <div class="card-contract-info">
            <% n = rand(1..5) %>
            <%= image_tag "avatar_athlete_#{n}" %>
            <p><%= contract.athlete.first_name %></p>
          </div>
          <div class="card-contract-btn">
            <p><%= icon('fas', 'chevron-right') %></p>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

  <!-- Create a new contract -->
  <h3>Getting Started</h3>
  <p>Need to add a new contract? Congratulations!</p>
  <%= link_to "ADD ATHLETE", new_contract_path %>

</div>
