
<div class="banner-main">
  <div class="container">
    <h1><%= @contract.athlete.first_name.capitalize %>'s profile</h1>
    <p>Manage your athlete</p>
  </div>
</div>

<div class="container">

  <%  if current_user = @contract.coach %>
    <h1 class="greeting"> Hello, <%= @contract.coach.first_name.capitalize %> ! </h1>
  <%  else %>
    <h1 class="greeting"> Hello, <%= @contract.athlete.first_name.capitalize %> ! </h1>
  <%  end %>

  <div class="athlete-card">
    <img class="avatar-large" alt="avatar-large" src="">
    <div class="athlete-card-infos">
      <h2 class="athlete-name"> <%= @contract.athlete.first_name.capitalize %> <%= @contract.athlete.last_name.capitalize %> </h2>
      <h2> Coach: <%= @contract.coach.first_name.capitalize %> </h2>
      <h3> Height: 160 cm </h3>
      <h3> Weight: 160 cm </h3>
      <h3> Age: 30 </h3>
      <h3> Email address: <%= @contract.athlete.email %> </h3>
      <!-- <h2> <%= @contract.athlete.first_name.capitalize %>'s program: </h2> -->
    </div>
  </div>
  <div class="redirect_links">
    <h3> <%= link_to "See #{@contract.athlete.first_name.capitalize}'s Program", programs_path %> </h3>
    <h3> <%= link_to "Create program for #{@contract.athlete.first_name.capitalize}", new_contract_program_path(@contract) %> </h3>
  </div>
</div>
