<%  if current_user = @contract.coach %>
  <h1 class="greeting"> Hello, <%= @contract.coach.first_name.capitalize %> ! </h1>
  <h2 class="sub-greeting"> You are viewing <%= @contract.athlete.first_name.capitalize %>'s profile </h2>
<%  else %>
  <h1 class="greeting"> Hello, <%= @contract.athlete.first_name.capitalize %> ! </h1>
  <h2 class="sub-greeting"> Your coach is <%= @contract.coach.first_name.capitalize %> </h2>
<%  end %>

<h1><%= @contract.athlete.first_name.capitalize %>'s information </h1>

<h2> Age: (calculate from DoB)</h2>

<h2> Height: <%= @contract.athlete.height %> 180cm </h2>

<h2> Weight: <%= @contract.athlete.weight %> 80kg </h2>

<h2> Client since: <%= @contract.created_at.strftime("%d-%m-%Y") %> </h2>

<h1><%= @contract.athlete.first_name.capitalize %>'s exercise plan </h1>

<h2> show program exercise toplines </h2>

  <%= link_to "Detailed Exercise Plan", "/contracts/:contract_id/programs/:id/session" %>

<h1><%= @contract.athlete.first_name.capitalize %>'s diet plan </h1>

<h2> Daily targets: show targets </h2>

  <%= link_to "Detailed Diet Plan", "/contracts/:contract_id/programs/:id" %>

          <%= link_to "create program", new_contract_program_path(@contract) %>


<%= link_to "see program", index_clients_path(@contract) %>

