<div class="banner-main">
  <div class="container">
    <h1><span class="gray-text"><%= icon('fas', 'user') %> </span><%= @contract.athlete.first_name %> <%= @contract.athlete.last_name %></h1>
    <p>Manage your athlete.</p>
  </div>
</div>

<div class="container">
  <div class="category-padding-bottom">

    <!-- Alerts -->
    <div class="contract-alert-wrapper">
      <!-- Meal Alert -->
      <% if @meals_today.count > 0 %>
        <p class="contract-alert-success"><%= icon('fas', 'check') %> <%= @contract.athlete.first_name %> has <%= @meals_today.count %> meal<%= @meals_today.count == 1 ? "" : "s" %> scheduled for today.</p>
      <% else %>
        <p class="contract-alert-warning"><span class="red-text"><%= icon('fas', 'bell') %></span> No meal scheduled for today. <%= link_to "Add a new one.", index_path %></p>
      <% end %>

      <!-- Session Alert -->
      <% if @sessions_today.count > 0 %>
        <p class="contract-alert-success"><%= icon('fas', 'check') %> <%= @contract.athlete.first_name %> has <%= @sessions_today.count %> session<%= @sessions_today.count == 1 ? "" : "s" %> scheduled for today.</p>
      <% else %>
        <p class="contract-alert-warning"><span class="red-text"><%= icon('fas', 'bell') %></span> No session scheduled for today. <%= link_to "Add a new one.", index_path %></p>
      <% end %>
    </div>


    <!-- Athlete info -->
    <div class="athlete-card">
      <% n = rand(1..5) %>
      <%= image_tag "avatar_athlete_#{n}.jpg" %>
      <div class="athlete-card-info">
        <p><b>Height:</b> <%= @contract.athlete.height %> cm</p>
        <p><b>Weight:</b> <%= @contract.athlete.weight %> kg</p>
        <p><b>Date of birth:</b> <%= @contract.athlete.dob.strftime("%d %B %Y") %></p>
        <p><b>Contact:</b> <%= @contract.athlete.email %></p>
      </div>
    </div>

    <!-- Athlete links -->
    <%= link_to index_clients_path(@contract) do %>
      <div class="card-link">
          <div class="card-link-info">
            <h3></span> Dashboard</h3>
            <p><%= @contract.athlete.first_name %>'s dietary dashboard</p>
          </div>
          <div class="card-link-btn">
            <p><%= icon('fas', 'chevron-right') %></p>
          </div>
      </div>
    <% end %>

    <%= link_to index_path do %>
      <div class="card-link">
          <div class="card-link-info">
            <h3>Programs</h3>
            <p><%= @contract.athlete.first_name %>'s dietary and workout programs</p>
          </div>
          <div class="card-link-btn">
            <p><%= icon('fas', 'chevron-right') %></p>
          </div>
      </div>
    <% end %>


  </div>


</div>
