<div class="container-meal">
  <h1> diet dashboard <%=  %></h1>
  <% data_cal = {} %>
  <% data_cal_ref = {} %>
  <% line_data_cal = [] %>

<!-- plot calories -->

  <% @programs.each do |program| %>
    <%= link_to "See meals", program_meals_path(program) %>
    <% program.meals.group_by(&:start_time).each do |day, meals| %>

    <% data_cal[day.strftime("%m/%d/%Y")] = meals.map{|meal| calorie(meal)}.sum %>
    <% data_cal_ref[day.strftime("%m/%d/%Y")] = program.calorie_target %>
    <% end %>
      <% line_data_cal << {:name => "calorie", :data => data_cal } %>
      <% line_data_cal << {:name => "calorie_target", :data => data_cal_ref } %>
  <% end %>

  <div class = "meal-graph">
    <%= line_chart line_data_cal, ytitle: "Calorie", width: "1420px" %>
  </div>


<!-- plot macro -->


  <% line_data_p = [] %>
  <% line_data_c = [] %>
  <% line_data_f = [] %>

  <% data_p = {} %>
  <% data_l = {} %>
  <% data_c = {} %>

  <% data_p_ref = {} %>
  <% data_l_ref = {} %>
  <% data_c_ref = {} %>

  <% @programs.each do |program| %>
    <% program.meals.group_by(&:start_time).each do |day, meals| %>

      <% sum_p = 0 %>
      <% sum_c = 0 %>
      <% sum_l = 0 %>

      <% sum_p = meals.map{|meal| meal.proteins}.sum  %>
      <% sum_l = meals.map{|meal| meal.fats}.sum  %>
      <% sum_c = meals.map{|meal| meal.carbs}.sum  %>

      <% data_p[day.strftime("%m/%d/%Y")] = sum_p %>
      <% data_l[day.strftime("%m/%d/%Y")] = sum_l %>
      <% data_c[day.strftime("%m/%d/%Y")] = sum_c %>

      <% data_p_ref[day.strftime("%m/%d/%Y")] = program.proteins_target %>
      <% data_l_ref[day.strftime("%m/%d/%Y")] = program.fats_target %>
      <% data_c_ref[day.strftime("%m/%d/%Y")] = program.carbs_target %>

    <% end %>
    <div>
      <% line_data_p << {:name => "protein", :data => data_p } %>
      <% line_data_p << {:name => "proteins_target", :data => data_p_ref } %>
    </div>
    <div>
      <% line_data_f << {:name => "fats", :data => data_l } %>
      <% line_data_f << {:name => "fats_target", :data => data_l_ref } %>
    </div>
    <div>
      <% line_data_c << {:name => "carbs", :data => data_c } %>
      <% line_data_c << {:name => "carbs_target", :data => data_c_ref } %>
    </div>
  <% end %>

  <div class = "meal-graph_macro">
    <%= line_chart line_data_p, ytitle: "Protein", width: "400px" %>
    <%= line_chart line_data_f, ytitle: "Fats", width: "400px" %>
    <%= line_chart line_data_c, ytitle: "Carbs", width: "400px" %>
  </div>



<!-- Table -->

  <% @programs.each do |program| %>
    <% sum_p = sum_c =sum_l = sum_c = sum_cal = 0 %>
        <table class = "nutri-table-meal">
            <thead>
              <tr>
                <th > Date </th>
                <th > Protein</th>
                <th > Fats</th>
                <th > Carbs</th>
                <th > Calories</th>
              </tr>
            </thead>
          <tbody>
          <% program.meals.group_by(&:start_time).each do |day, meals| %>
            <tr>
              <td> <%= link_to meals.last.start_time.strftime("%m/%d/%Y"), program_meals_path(program, date:meals.last.start_time) %>  </td>
              <td class = "cell-total"> <%= meals.map{|meal| meal.proteins}.sum() %> </td>
              <td class = "cell-total"> <%= meals.map{|meal| meal.fats}.sum() %> </td>
              <td class = "cell-total"> <%= meals.map{|meal| meal.carbs}.sum() %> </td>
              <td class = "cell-total"> <%= meals.map{|meal| calorie(meal)}.sum() %> </td>
              <% sum_p = sum_c =sum_l = sum_c = sum_cal = 0 %>
            </tr>
          <% end %>
        </tbody>
      </table>
  <% end %>


  <!-- [
    {:name=>"MR", :data=>{day=> sum protein, Wed, 01 Mar 2017=>66, Sat, 01 Apr 2017=>73, Sun, 01 Jan 2017=>44}},
    {:name=>"CT", :data=>{Wed, 01 Feb 2017=>4, Wed, 01 Mar 2017=>6, Sat, 01 Apr 2017=>8, Sun, 01 Jan 2017=>52}},
    {:name=>"XR", :data=>{Wed, 01 Mar 2017=>1}},
  ]
   -->






  <!-- better with activerecords request ? -->
  <!--  <%= line_chart Meal.group_by_day(:start_time).joins(:doses).joins(:ingredients).sum("(carbs*4)+(proteins*4)+(fats*9)"), ytitle: "Calorie" %>
   <%= line_chart Meal.group_by_day(:start_time).joins(:doses).joins(:ingredients).sum("proteins"), ytitle: "proteins" %>
   <%= line_chart Meal.group_by_day(:start_time).joins(:doses).joins(:ingredients).sum("fats"), ytitle: "fats" %>
   <%= line_chart Meal.group_by_day(:start_time).joins(:doses).joins(:ingredients).sum("carbs"), ytitle: "carbs" %>
   -->
</div>
