<div class="banner-main">
  <div class="container">
    <h1><span class="gray-text"><%= icon('fas', 'calendar') %> </span>Program<%= @programs.count == 1 ? "" : "s" %></h1>
    <p><%= @contract.athlete.first_name %>'s dietary and workout program<%= @programs.count == 1 ? "" : "s" %>.</p>
  </div>
</div>

<% if @programs.count > 0 %>
  <div class="container">
    <div class="category-padding">

      <h3 class="mb-4">Latest Program</h3>

      <%= link_to program_path(@latest_program) do %>
        <div class="card-program">

          <div class="card-program-info">

            <div class="data-wrapper">

              <div class="data">
                <div class="data-type">
                  <p>Proteins (g/day)</p>
                </div>
                <div class="data-number">
                  <h2><%= @latest_program.proteins_target %></h2>
                </div>
              </div>
              <!-- <p>Proteins: <%= @latest_program.proteins_target %> g/day</p> -->

              <div class="data data-border">
                <div class="data-type">
                  <p>Fats (g/day)</p>
                </div>
                <div class="data-number">
                  <h2><%= @latest_program.fats_target %></h2>
                </div>
              </div>
              <!-- <p>Fats: <%= @latest_program.fats_target %> g/day</p> -->

              <div class="data">
                <div class="data-type">
                  <p>Carbs (g/day)</p>
                </div>
                <div class="data-number">
                  <h2><%= @latest_program.carbs_target %></h2>
                </div>
              </div>
              <!-- <p>Carbs: <%= @latest_program.carbs_target %> g/day</p> -->

            </div>
            <div class="date">
              <p><em>Program created on <%= @latest_program.created_at.strftime("%B %d, %Y, %l%p") %></em></p>
            </div>
          </div>

          <div class="card-program-btn">
            <p><%= icon('fas', 'chevron-right') %></p>
          </div>

        </div>
      <% end %>

      <div class="card-program-links">

        <%= link_to "See Meals", program_meals_path(@latest_program)%>

        <%= link_to "See Sessions", program_trainings_path(@latest_program)%>

      </div>
    </div>
    </div>
    </div>
  </div>

  <% if @programs.count > 1 %>

  <div class="white-background">
    <div class="container">

      <div class="category-padding">

        <h3 class="mb-4">All Programs</h3>

        <% @programs.each do |program| %>
          <%= link_to program_path(program) do %>
          <div class="card-program">

            <div class="card-program-info">

              <div class="data-wrapper">

                <div class="data">
                  <div class="data-type">
                    <p>Proteins (g/day)</p>
                  </div>
                  <div class="data-number">
                    <h2><%= program.proteins_target %></h2>
                  </div>
                </div>

                <div class="data data-border">
                  <div class="data-type">
                    <p>Fats (g/day)</p>
                  </div>
                  <div class="data-number">
                    <h2><%= program.fats_target %></h2>
                  </div>
                </div>

                <div class="data">
                  <div class="data-type">
                    <p>Carbs (g/day)</p>
                  </div>
                  <div class="data-number">
                    <h2><%= program.carbs_target %></h2>
                  </div>
                </div>

              </div>
              <div class="date">
                <p><em>Program created on <%= program.created_at.strftime("%B %d, %Y, %l%p") %></em></p>
              </div>
            </div>

            <div class="card-program-btn">
              <p><%= icon('fas', 'chevron-right') %></p>
            </div>

          </div>
          <% end %>
        <% end %>

      </div>
    </div>
  </div>

  <% end %>
<% end %>

<!-- Create a new program -->
<div class="white-background">
  <div class="container">

    <div class="category-padding">
      <div class="category-content category-content-picture-right">
        <div class="row">

          <div class="col-12 col-xl-6">
            <%= image_tag "banner_content_1.jpg" %>
          </div>

          <div class="col-12 col-xl-6 category-content-text">
            <h3>Training Starts Here</h3>
            <p>Your athlete needs a new program?</p>
            <%= link_to new_contract_program_path(@contract), class: "btn-main" do %>
              <p>NEW PROGRAM</p>
            <% end %>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>
