<h1>Program of the day</h3>
<h3>Meals</h3>

<p> You have to eat :</p>

<p> <%= @program.proteins_target%> g proteins/day</p>
<p> <%= @program.carbs_target%> g carbs/day </p>
<p> <%= @program.fats_target%> g fats/day </p>


<%= link_to "see meals", program_meals_path(@program) %>

<h3>Exercises</h3>

<%= week_calendar number_of_weeks: 1, events: @sessions do |date, sessions| %>
    <% sessions.each do |session| %>
    <div class = "session-list">
      <ul>
        <li> <%= link_to date, program_session_path(@program, session) %> </li>
      </ul>
    </div>
    <% end %>
  <% end %>

<%= link_to "see exercises", program_sessions_path(@program) %>

