<div class="container">
  <h1 class = page-title> Week's Program <i class="fas fa-calendar"></i> </h1>

    <!-- Meals -->

    <h3 class="underlined-subtitle" >Week's Meals</h3>

    <div class="macro_card_program">
      <div class = "macro_program">
        <h2> <%= @program.proteins_target%>g / day</h2>
        <p> <i class="fas fa-drumstick-bite"></i>  Protein </p>
      </div>
      <div class = "macro_program">
        <h2> <%= @program.carbs_target%>g / day</h2>
        <p> <i class="fas fa-bread-slice"></i>  Carbs </p>
      </div>
      <div class = "macro_program">
        <h2> <%= @program.fats_target%>g / day</h2>
        <p> <i class="fas fa-cheese"></i>  Fats </p>
      </div>
    </div>


  <div class="button-exercises-container">
    <%= link_to program_meals_path(@program), class: "btn-main" do %>
      <p>See Meals</p>
    <% end %>
  </div>


  <!-- Exercises -->

  <h3 class="underlined-subtitle">Week's Exercises</h3>
  <p>Select the session's date for more details</p>



  <%= week_calendar number_of_weeks: 1, events: @trainings do |date, trainings| %>
      <% trainings.each do |training| %>
      <div class = "session-list">
        <ul>
          <li> <%= link_to date, training_path(training) %> </li>
        </ul>
      </div>
      <% end %>
    <% end %>
  <div class="button-exercises-container">
    <%= link_to program_trainings_path(@program), class: "btn-main" do %>
      <p>All Sessions</p>
    <% end %>
  </div>

</div>
