<div class="navbar navbar-expand-md navbar-light navbar-lewagon">

<div class="navbar-brand">
  <%= link_to "/" do %>
    <h2 id="logo">COACH<span class="red-text">BY</span></h2>
  <% end %>
  <% if user_signed_in? %>
    <p class="red-text m-0 pl-2"><%= current_user.first_name %></p>
  <% end %>
</div>


  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="fa fa-caret-down"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <%= link_to "Home", "/", class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Blog", "/", class: "nav-link" %>
      </li>

      <% if user_signed_in? %>
        <% if current_user.is_coach %>
          <li class="nav-item active">
            <%= link_to "My athletes", "/contracts", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Add an athlete", "/contracts/new", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "My exercises", "#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "My diet plan", "#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "My profile", dashboard_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= image_tag "coach_avatar", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          </li>
        <% end %>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", "/users/sign_in", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "/users/sign_up", class: "nav-link" do %>
            <strong>Sign up</strong>
          <% end %>
        </li>
      <% end %>

    </ul>
  </div>
</div>
