<% if user_signed_in? %>
  <div class="sidebar">

    <div class="sidebar-links">

      <%= link_to "/" do %>
        <p class="sidebar-item">Dashboard</p>
      <% end %>

      <%= link_to contracts_path do %>
        <p class="sidebar-item">Athletes</p>
      <% end %>

      <% if @contract != nil %>
        <div class="sidebar-athlete">
          <%= link_to new_contract_program_path(@contract) do %>
            <p class="sidebar-item">Create Program</p>
          <% end %>
          <%= link_to "/" do %>
            <p class="sidebar-item">Exercice</p>
          <% end %>
          <%= link_to contract_program_path(@contract) do %>
            <p class="sidebar-item">Diet</p>
          <% end %>
        </div>
      <% end %>

    </div>

  </div>
<% end %>
