<% if user_signed_in? %>
  <div class="sidebar">

    <div class="sidebar-links">

      <!-- Coach -->
      <% if current_user.is_coach %>

        <%= link_to contracts_path do %>
          <p class="sidebar-item" data-toggle="tooltip" data-trigger="hover" data-placement="right" title="All Athletes">
            <%= icon('fas', 'list') %>
          </p>
        <% end %>

        <%= link_to new_contract_path do %>
          <p class="sidebar-item" data-toggle="tooltip" data-trigger="hover" data-placement="right" title="New Athlete">
            <%= icon('fas', 'user-plus') %>
          </p>
        <% end %>

        <!-- Find the contract -->
        <% if @program !=nil && @program.id != nil %>
          <% contract = @program.contract %>
        <% end %>
        <% if @contract != nil && @contract.id != nil %>
          <% contract = @contract %>
        <% end %>

        <!-- If the contract exist display the icons below -->
        <% if contract != nil %>
          <div class="sidebar-athlete">
            <%= link_to contract_path(contract) do %>
              <p class="sidebar-item" data-toggle="tooltip" data-trigger="hover" data-placement="right" title="<%= contract.athlete.first_name.capitalize %>'s Profile">
                <%= icon('fas', 'user') %>
              </p>
            <% end %>
            <%= link_to index_clients_path(contract) do %>
              <p class="sidebar-item" data-toggle="tooltip" data-trigger="hover" data-placement="right" title="Dashboard">
                <%= icon('fas', 'utensils') %>
              </p>
            <% end %>
            <%= link_to new_contract_program_path(contract) do %>
              <p class="sidebar-item" data-toggle="tooltip" data-trigger="hover" data-placement="right" title="New Program">
                <%= icon('fas', 'calendar-plus') %>
              </p>
            <% end %>
          </div>
        <% end %>

      <% end %>

      <!-- Athlete -->
      <% if !current_user.is_coach %>
        <%= link_to dashboard_path do %>
          <p class="sidebar-item">Profile</p>
        <% end %>

        <% if @contract != nil && @contract.id != nil %>

          <%= link_to contract_path(@contract) do %>
            <p class="sidebar-item"><%= icon('fas', 'user') %></p>
          <% end %>
          <%= link_to index_clients_path(@contract) do %>
            <p class="sidebar-item"><%= icon('fas', 'utensils') %></p>
          <% end %>

        <% end %>
      <% end %>

    </div>

  </div>
<% end %>
