<h1>Ingredients#index</h1>
<p>Find me in app/views/ingredients/index.html.erb</p>


<div class="container">

  <%= form_tag ingredients_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find an ingredient"
    %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>


  <%= render "form", ingredient: @ingredient %>

  <% @ingredients.each do  |ingredient| %>
    <ul>
      <li><%= link_to ingredient.name, ingredient_path(ingredient) %></li>
      <li>Proteins: <%= ingredient.proteins %>gr/100 gr</li>
      <li>Carbs: <%= ingredient.carbs %>gr/100 gr</li>
      <li>Fats: <%= ingredient.fats %>gr/100 gr</li>
    </ul>
  <% end %>

</div>


