<h1>#DASHBOARD</h1>

<h1>My Profile</h1>

<%  if @user.is_coach %>
  <h2 class="greeting"> Welcome to your profile, <%= @user.first_name.capitalize %> ! </h1>
<%  else %>
  <h class="greeting"> <%= @user.first_name.capitalize %> ! </h1>
  <h2 class="sub-greeting"> Your coach is <%= @user.first_name.capitalize %> </h2>
<%  end %>

<h1><%= @user.first_name.capitalize %>'s information </h1>

<h2> Age: (calculate from DoB)</h2>

<h2> Height: <%= @user.height %> 180cm </h2>

<h2> Weight: <%= @user.weight %> 80kg </h2>


<h2> show program exercise toplines </h2>

  <%= link_to "Detailed Exercise Plan", "/contracts/:contract_id/programs/:id/session" %>

<h1><%= @user.first_name.capitalize %>'s diet plan </h1>

<h2> Daily targets: show targets </h2>

  <%= link_to "Detailed Diet Plan", "/contracts/:contract_id/programs/:id" %>
form to update" %>
