<div class="banner-landing">
  <div class="home-video-container">
    <%= video_tag "banner_landing_video.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, class: "home-video" %>
  </div>
  <div class="container">
    <div class="category-padding-bottom">
      <h1>COACH<span class="red-text">BY</span></h1>
      <% if !user_signed_in? %>
        <p>Helping over 15 000 trainers and athletes connect.</p>
      <% end %>
    </div>
    <h2>TRAIN BETTER. <span class="red-text">BE GREATER.</span></h2>
    <% if user_signed_in? %>
      <p>Welcome back <%= current_user.first_name %>.</p>
      <%= link_to contracts_path, class: "banner-landing-btn" do %>
        <p>YOUR ATHLETES</p>
      <% end %>
    <% else %>
      <%= link_to "/users/sign_up", class: "banner-landing-btn" do %>
        <p>SIGN UP</p>
      <% end %>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="category-padding">
    <!-- <h1 class="mb-5">THIS IS COACH<span class="red-text">BY</span></h1> -->

    <div class="category-content category-content-picture-left">
      <div class="row">

        <div class="col-12 col-xl-6">
          <%= image_tag "banner_content_1.jpg" %>
        </div>

        <div class="col-12 col-xl-6 category-content-text">
          <h3>Our vision</h3>
          <p>We believe good communication is what makes athletes perform to their true potential. We are committed to making performance technology available to athletes at all levels. </p>
        </div>

      </div>
    </div>

    <div class="category-content category-content-picture-right">
      <div class="row">

        <div class="col-12 col-xl-6">
          <%= image_tag "banner_content_2.jpg" %>
        </div>

        <div class="col-12 col-xl-6 category-content-text">
          <h3>Our product</h3>
          <p>CoachBy streamlines the management and communication of performance information. Our platform centralises athlete’s data and allows trainers to create custom programs for them.</p>
        </div>

      </div>
    </div>
  </div>

</div>
