<div class="banner-main">
  <div class="container">
    <h1><span class="gray-text"><%= icon('fas', 'utensils') %> </span>Meals</h1>
    <p>Breakdown of <%= @program.contract.athlete.first_name %>'s meal<%= @meals.count == 1 ? "" : "s" %>.</p>
  </div>
</div>

<div class="container">

    <%= week_calendar number_of_weeks: 1, events: @meals do |date, meals| %>
      <div class = "date">
        <span class = "datedays"> <%= link_to date.strftime("%d/%m"), program_meals_path(@program, date: date) %> </span>
      </div>
      <div class = "meal-list">
        <% meals.each do |meal| %>
          <ul>
            <li> <%= link_to meal.name.capitalize, program_meal_path(@program, meal) %> </li>
          </ul>
        <% end %>
      </div>
    <% end %>

    <div class="macro_card">
      <div class = "macro">
        <h2> <%=   @meals_date.map { |meal| meal.proteins}.sum() %> <span style="color:gray;font-size:16px;"> g </span> </h2>
        <p> <i class="fas fa-drumstick-bite"></i>  Protein </p>
        <% ratio_prot = (@meals_date.map { |meal| meal.proteins}.sum())/@program.proteins_target.to_f %>
        <div id = "protein-bar" data-macro= <%= ratio_prot > 1 ? 1 : ratio_prot %> ></div>
        <div>
          <p style="color: <%= "red" if (@meals_date.map { |meal| meal.proteins}.sum()) > @program.proteins_target.to_f %>;font-weight: <%= "bold" if (@meals_date.map { |meal| meal.proteins}.sum()) > @program.proteins_target.to_f %>;" > <%= (@meals_date.map { |meal| meal.proteins}.sum()) %> </p>/ <p> <%= @program.proteins_target %> </p>
        </div>
      </div>
      <div class = "macro">
        <h2> <%=   @meals_date.map { |meal| meal.fats}.sum() %> <span style="color:gray;font-size:16px;"> g </span></h2>
        <p> <i class="fas fa-cheese"></i> Fats </p>
        <% ratio_fat = (@meals_date.map { |meal| meal.fats}.sum())/@program.fats_target.to_f %>
        <div id = "fat-bar" data-macro= <%= ratio_fat > 1 ? 1 : ratio_fat %> ></div>
        <div>
          <p style="color: <%= "red" if (@meals_date.map { |meal| meal.fats}.sum()) > @program.fats_target.to_f %>;font-weight: <%= "bold" if (@meals_date.map { |meal| meal.fats}.sum()) > @program.fats_target.to_f %>;" > <%= (@meals_date.map { |meal| meal.fats}.sum()) %> </p>/ <p> <%= @program.fats_target %> </p>
        </div>
      </div>

      <div class = "macro">
        <h2> <%=   @meals_date.map { |meal| meal.carbs}.sum() %> <span style="color:gray;font-size:16px;"> g </span></h2>
        <p> <i class="fas fa-bread-slice"></i> Carbs </p>
        <% ratio_carb = (@meals_date.map { |meal| meal.carbs}.sum())/@program.carbs_target.to_f %>
        <div id = "carb-bar" data-macro= <%= ratio_carb > 1 ? 1 : ratio_carb %> ></div>
        <div>
          <p style="color: <%= "red" if (@meals_date.map { |meal| meal.carbs}.sum()) > @program.carbs_target.to_f %>;font-weight: <%= "bold" if (@meals_date.map { |meal| meal.carbs}.sum()) > @program.carbs_target.to_f %>;" > <%= (@meals_date.map { |meal| meal.carbs}.sum()) %> </p>/ <p> <%= @program.carbs_target %> </p>
        </div>
      </div>
      <div class = "macro">
        <h2> <%=   @meals_date.map { |meal| calorie(meal)}.sum() %> <span style="color:gray;font-size:16px;"> kcal </span> </h2>
        <p> <i class="fas fa-burn"></i> Calories </p>
        <% ratio_cal = (@meals_date.map { |meal|calorie(meal)}.sum())/@program.calorie_target.to_f %>
        <div id = "carb-cal" data-macro= <%= ratio_cal > 1 ? 1 : ratio_cal %> ></div>
        <div>
          <p style="color: <%= "red" if (@meals_date.map { |meal|calorie(meal)}.sum()) > @program.calorie_target.to_f %>;font-weight: <%= "bold" if (@meals_date.map { |meal|calorie(meal)}.sum()) > @program.calorie_target.to_f %>;" > <%= (@meals_date.map { |meal| calorie(meal)}.sum()) %> </p>/ <p> <%= @program.calorie_target %> </p>
        </div>
      </div>
    </div>

    <% if @meals_date.size < 4 %>
      <div class="add-meal">
        <h3>Create a new meal entry</h3>
        <%= render "form", meal: @meal %>
      </div>
    <% end %>

<div data-meal-ids="<%= @meals.pluck(:id) %>"></div>
  <% @meals_date.each do |meal| %>
    <div class = meal>
      <div>
        <h3> <%=  link_to meal.name.capitalize(),program_meal_path(meal.program_id,meal) %> </h3>
        <span> <%= (meal.start_time.strftime("%d/%m/%Y")) %></span>
      </div>
      <div class = "meal-stat">
        <div class = "nutri-table">
          <table>
            <thead>
                <tr>
                  <th > Ingredient</th>
                  <th > Quantity</th>
                  <th > <i class="fas fa-drumstick-bite"> </th>
                  <th > <i class="fas fa-cheese"> </th>
                  <th > <i class="fas fa-bread-slice"></i> </th>
                  <th > <i class="fas fa-burn"></i> </th>
                </tr>
            </thead>
            <tbody>
              <% sum_p = sum_c =sum_l = sum_c = sum_cal = 0 %>
              <% meal.doses.each do |dose| %>
                <tr>
                  <td> <%= link_to dose.ingredient.name, ingredient_path(dose.ingredient) %> </td>
                  <td> <%= dose.quantity %> </td>
                  <td> <%= ((dose.quantity * dose.ingredient.proteins)/100).round   %> </td>
                  <td> <%= ((dose.quantity * dose.ingredient.fats)/100).round  %> </td>
                  <td> <%= ((dose.quantity * dose.ingredient.carbs)/100).round  %> </td>

                  <td> <%= (((dose.quantity * dose.ingredient.proteins)/100)*4 +
                  ((dose.quantity * dose.ingredient.fats)/100) * 9 +
                  ((dose.quantity * dose.ingredient.carbs)*4)/100) %> </td>

                  <% sum_cal += (((dose.quantity * dose.ingredient.proteins)/100) * 4 +
                                ((dose.quantity * dose.ingredient.fats)/100) * 9 +
                                ((dose.quantity * dose.ingredient.carbs)/100) * 4)  %>
                </tr>
                <% if meal.doses.last == dose %>
                    <tr>
                      <td> Totaux:  </td>
                      <td> <%=  %> </td>
                      <td> <p style="background-color: rgba(251, 19, 0, 0.4);padding:5px;border-radius: 25px;margin-bottom: 0;font-size: 13px;"><%= meal.proteins %></p></td>
                      <td> <p style="background-color: rgba(251, 240, 0, 0.4);padding:5px;border-radius: 25px;margin-bottom: 0;font-size: 13px;"><%= meal.fats %></p></td>
                      <td> <p style="background-color: rgba(0, 221, 251, 0.4);padding:5px;border-radius: 25px;margin-bottom: 0;font-size: 13px;"><%= meal.carbs %></p> </td>
                      <td> <p style="background-color: rgba(186, 0, 251,0.4);padding:5px;border-radius: 25px;margin-bottom: 0;font-size: 13px;"><%= sum_cal %></p></td>
                      <% sum_p = sum_c =sum_l = sum_c = sum_cal = 0 %>
                    </tr>
                  <% end %>
              <% end %>
            </tbody>
        </table>
          <%= render "doses/form", meal: meal, dose: @dose %>
      </div>
      <div class = "graph">
        <canvas id= "<%= "myChart#{meal.name}"%>" width="600" height="600"></canvas>
        <script>
            new Chart(document.getElementById("<%= "myChart#{meal.name}"%>").getContext('2d'), {
              type: 'bar',
              data: {
                  labels: [""],
                  datasets: [{
                      label: "Proteins",
                      data: <%= [meal.proteins] %>,
                      backgroundColor: [
                          'rgba(251, 19, 0, 0.6)'
                      ],
                      borderColor: [
                          'rgba(255, 99, 132, 1)'
                      ],
                      borderWidth: 1
                  },{
                      label: "Fats",
                      data: <%= [meal.fats] %>,
                      backgroundColor: [
                          'rgba(251, 240, 0, 0.6)'
                      ],
                      borderColor: [
                          'rgba(255, 206, 86, 1)'
                      ],
                      borderWidth: 1
                  },{
                      label: "Carbs",
                      data: <%= [meal.carbs] %>,
                      backgroundColor: [
                          'rgba(0, 221, 251, 0.6)'
                      ],
                      borderColor: [
                          'rgba(54, 162, 235, 0.6)'
                      ],
                      borderWidth: 1
                  }]
              },
              options: {
                title: {
                display: true,
                position: 'top',
                text: 'Macro',
                padding: 20,
                },
                legend: {
                  display: true,
                  position:'bottom',
                  labels: {
                      fontColor: 'black'
                  }
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                  }
                }
            });
        </script>

       <!--  <canvas id= "<%= "myChartcal#{meal.name}" %>"  ></canvas>
        <script>
            new Chart(document.getElementById("<%= "myChartcal#{meal.name}"%>").getContext('2d'), {
                type: 'bar',
                data: {
                    labels: ["calorie"],
                    datasets: [{
                        label: "calorie",
                        data: <%= [calorie(meal)] %>,
                        backgroundColor: [
                            'rgba(151, 0, 0, 0.6)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        </script> -->
   <!--      <% unless meal.doses.empty?  %>
          <%= column_chart macro_char(meal), ytitle: "Masse (Gr)", min: 0, max: macro_max(meal) + 40, colors: ["#EF4B2A"] %>
        <% end %> -->
      </div>
    </div>
  </div>
  <% end %>



<% meal_type_p = {} %>
<% meal_type_l = {} %>
<% meal_type_c = {} %>
<% meal_type_cal = {} %>


  <% @meals_date.map do |meal| %>
    <% meal_type_p[meal.name.capitalize] = meal.proteins %>
    <% meal_type_l[meal.name.capitalize] = meal.fats %>
    <% meal_type_c[meal.name.capitalize] = meal.carbs %>
    <% meal_type_cal[meal.name.capitalize] = calorie(meal) %>
  <% end %>



  <div class="macrographmeal">
      <div class="meal-graph_macromeal">
      <p> Proteins </p>
      <canvas id= "mealprotein"></canvas>
      </div>
      <div class="meal-graph_macromeal">
        <p> Fats </p>
        <canvas id= "mealfats"></canvas>
      </div>
      <div class="meal-graph_macromeal">
        <p> Carbs </p>
        <canvas id= "mealcarbs"></canvas>
      </div>
      <div class="meal-graph_macromeal">
        <p> Calories </p>
        <canvas id= "mealcalorie"></canvas>
      </div>
  </div>



  <script>
     new Chart(document.getElementById("mealprotein").getContext('2d'), {
          type: 'pie',
          data: {
              labels: <%= meal_type_cal.keys.to_json.html_safe %>,
              datasets: [{
                  label: "Proteins",
                  data: <%= meal_type_p.values %>,
                  backgroundColor: [
                      'rgba(49, 120, 180, 0.6)',
                      'rgba(246, 188, 120, 0.6)',
                      'rgb(241, 126, 12, 0.6)',
                     'rgb(174, 198, 232, 0.6)'
                  ],
                  borderColor: [
                      'rgba(49, 120, 180, 1)',
                      'rgba(246, 188, 120, 1)',
                      'rgb(241, 126, 12, 1)',
                     'rgb(174, 198, 232, 1)'
                  ],
                  borderWidth: 1
              }]
          },
          options: {
            legend: {
              display: true,
              position: 'right',
              labels: {
                fontColor: 'rgb(0, 0, 0)'
              }
            },
             scales: {
              xAxes: [{
                 gridLines: {
                  display: false
                 },
                 ticks: {
                  display: false //this will remove only the label
                }
              }],
              yAxes: [{
                 gridLines: {
                    display: false
                 },
                  ticks: {
                    display: false //this will remove only the label
                }
              }]
            }
          }
      });

      new Chart(document.getElementById("mealfats").getContext('2d'), {
          type: 'pie',
          data: {
              labels: <%= meal_type_cal.keys.to_json.html_safe %>,
              datasets: [{
                  label: "Fats",
                  data: <%= meal_type_l.values %>,
                  backgroundColor: [
                      'rgba(49, 120, 180, 0.6)',
                      'rgba(246, 188, 120, 0.6)',
                      'rgb(241, 126, 12, 0.6)',
                     'rgb(174, 198, 232, 0.6)'
                  ],
                  borderColor: [
                      'rgba(49, 120, 180, 1)',
                      'rgba(246, 188, 120, 1)',
                      'rgb(241, 126, 12, 1)',
                     'rgb(174, 198, 232, 1)'
                  ],
                  borderWidth: 1
              }]
          },
          options: {
            legend: {
              display: true,
              position: 'right',
              labels: {
                fontColor: 'rgb(0, 0, 0)'
              }
            },
             scales: {
              xAxes: [{
                 gridLines: {
                  display: false
                 },
                 ticks: {
                  display: false //this will remove only the label
                }
              }],
              yAxes: [{
                 gridLines: {
                    display: false
                 },
                  ticks: {
                    display: false //this will remove only the label
                }
              }]
            }
          }
      });


      new Chart(document.getElementById("mealcarbs").getContext('2d'), {
          type: 'pie',
          data: {
              labels: <%= meal_type_cal.keys.to_json.html_safe %>,
              datasets: [{
                  label: "Carbs",
                  data: <%= meal_type_c.values %>,
                 backgroundColor: [
                      'rgba(49, 120, 180, 0.6)',
                      'rgba(246, 188, 120, 0.6)',
                      'rgb(241, 126, 12, 0.6)',
                     'rgb(174, 198, 232, 0.6)'
                  ],
                  borderColor: [
                      'rgba(49, 120, 180, 1)',
                      'rgba(246, 188, 120, 1)',
                      'rgb(241, 126, 12, 1)',
                     'rgb(174, 198, 232, 1)'
                  ],
                  borderWidth: 1
              }]
          },
           options: {
            legend: {
              display: true,
              position: 'right',
              labels: {
                fontColor: 'rgb(0, 0, 0)'
              }
            },
             scales: {
              xAxes: [{
                 gridLines: {
                  display: false
                 },
                 ticks: {
                  display: false //this will remove only the label
                }
              }],
              yAxes: [{
                 gridLines: {
                    display: false
                 },
                  ticks: {
                    display: false //this will remove only the label
                }
              }]
            }
          }
      });

      new Chart(document.getElementById("mealcalorie").getContext('2d'), {
          type: 'pie',
          data: {
              labels: <%= meal_type_cal.keys.to_json.html_safe %>,
              datasets: [{
                  label: "Calories",
                  data: <%= meal_type_cal.values %>,
                  backgroundColor: [
                      'rgba(49, 120, 180, 0.6)',
                      'rgba(246, 188, 120, 0.6)',
                      'rgb(241, 126, 12, 0.6)',
                     'rgb(174, 198, 232, 0.6)'
                  ],
                  borderColor: [
                      'rgba(49, 120, 180, 1)',
                      'rgba(246, 188, 120, 1)',
                      'rgb(241, 126, 12, 1)',
                     'rgb(174, 198, 232, 1)'
                  ],
                  borderWidth: 1
              }]
          },
           options: {
            responsive: true,
            legend: {
              display: true,
              position: 'right',
              fullWidth: false,
              labels: {
                fontColor: 'rgb(0, 0, 0)'
              }
            },
             scales: {
              xAxes: [{
                 gridLines: {
                  display: false
                 },
                 ticks: {
                  display: false //this will remove only the label
                }
              }],
              yAxes: [{
                 gridLines: {
                    display: false
                 },
                  ticks: {
                    display: false //this will remove only the label
                }
              }]
            }
          }
      });


  </script>

<!--
backgroundColor: [
                      'rgba(49, 120, 180, 0.6)',
                      'rgba(246, 188, 120, 0.6)',
                      'rgb(241, 126, 12, 0.6)',
                     'rgb(174, 198, 232, 0.6)'
                  ],
                  borderColor: [
                      'rgba(49, 120, 180, 1)',
                      'rgba(246, 188, 120, 1)',
                      'rgb(241, 126, 12, 1)',
                     'rgb(174, 198, 232, 1)'
                  ],
 -->
</div>


